---
import Banner from "../components/Banner";
const response = await fetch('https://randomuser.me/api/');
const data = await response.json();
const randomUser = data.results[0];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="google-site-verification" content="IzAlUsowUJt-aTAoum0kKLM8nCssOLVW_GfhJRne45g" />
		<title>Astro</title>
	</head>
	<body>
		<h1>Fyself - Red de identidad digital</h1>
      
      <h2>Crea tu gemelo digital "TwinH"</h2>
      <p>Descubre el proyecto TwinH, una representación digital de ti, creciendo, aprendiendo y tomando tus habilidades con cada conversación. Descubre la magia de verte reflejado en el mundo digital. Conoce TwinH, tu reflejo digital que evoluciona con cada charla y sumérgete en la experiencia de verte en el ciberespacio. Da el primer paso hacia tu inmortalidad digital. Inicia ya creando tu <b>Gemelo Humano Digital</b>: <a href="https://t.me/FyselfTwinH_bot">@FyselfTwinH_bot</a></p>
      
      <h2>Gestión de trámites inteligentes, rápidos y seguros</h2>
      <h3>Sin burocracia y papeleo</h3>
      <h4>Para los negocios</h4>
      <ul>
        <li> KQYC Conozca y Cualifique a su Cliente.</li>
        <li> Solicita y evalúa los datos.</li>
        <li> Acceso a datos actualizados.</li>
        <li> Índice de credibilidad.</li>
        <li> Economiza recursos y tiempo.</li>
        <li> Encuestas, Formularios, Acuerdos y Contratos.</li>
      </ul>
      <a href="https://business.fyself.com/">Fyself Business</a>
      <h4>Para las personas</h4>
      <ul>
        <li>Toma el control y posesión de tus datos personales.</li>
        <li>Repositorio de datos personales.</li>
        <li>Decide la ubicación y el grado de privacidad.</li>
        <li>Postea y socializa como en otras redes.</li>
        <li>Facilita tu vida y alcanza beneficios económicos.</li>
        <li>Archiva documentos personales.</li>
      </ul>
      <a href="https://fyself.com/signup">Crear cuenta</a>
      
      <h2>Acredita tus Leht</h2>
      <p>Introduce los códigos de tus billetes y conviértelos en Leht.</p>
      <a href="https://fyself.com/?accredit_ticket=true">Inicia sesión y acredita</a>
      
      <h2>Cultiva tu identidad digital</h2>
      <p>Gana <a href="https://leht.fyself.com">Leht</a>, la criptomoneda de Fyself</p>
      <h3>Información</h3>
      <ul>
        <li>Completa tus perfiles.</li>
        <li>Crea encuestas.</li>
        <li>Publica contenidos.</li>
        <li>Aplica a servicios.</li>
      </ul>
      <h3>Credibilidad</h3>
      <ul>
        <li>Guarda tus datos reales.</li>
        <li>Invita a amigos y contactos.</li>
        <li>Añade referentes.</li>
        <li>Valida tus datos</li>
      </ul>
       <h3>Fiabilidad</h3>
       <ul>
        <li>Valida datos de tus contactos.</li>
        <li>Sé preciso en tus validaciones.</li>
        <li>Decide el grado de privacidad.</li>
        <li>Haz crecer tu comunidad.</li>
       </ul>
       <h3>Reputación Digital</h3>
       <ul>
          <li>Haz crecer tu índice.</li>
          <li>Actúa diariamente.</li>
          <li>Mantente activo e interactúa.</li>
          <li>Socializa y reacciona.</li>
       </ul>
       <a href="https://blog.fyself.com/sobre-billetera-digital-monedero-o-wallet/">Comienza a tener beneficios, únete a nosotros</a>
       <h2>¿Qué ofrecemos?</h2>
       <p>El TwinH representa un hito trascendental hacia la inmortalidad digital, una manifestación tecnológica que trasciende las barreras del tiempo y el espacio, permitiendo la preservación y continuidad de la identidad humana en la era de la información.</p>
       <h2>Comienza gratis ahora</h2>
       <h3>Comienza a ganar Leht</h3>
       <p>Activa el plan gratis, aprende a cultivar tu identidad digital, actualiza y ganarás más Leht.</p>
       <h3>Activa TwinH</h3>
       <p>Crea, entrena y perfecciona a tu gemelo digital como asistente inteligente.</p>

       <h2>Planes</h2>
       <p>Si deseas aumentar tus beneficios y aprovechar todas nuestras ventajas accede a nuestros planes mensuales o anuales del tipo Básico, Económico o Premium.</p>
       <h3>TwinH</h3>
       <h4>Cree su 'Yo' digital.</h4>
       <ul>
        <li>Activa y comienza su entrenamiento.</li>
        <li>Modo Asesoramiento para todos tus contactos.</li>
        <li>Modo Automático para 1 de tus contactos.</li>
       </ul>
       <h3>Leht</h3>
       <h4>Cultiva tu identidad</h4>
       <ul>
        <li>Descubre los beneficios que te ofrece ganar Leht.</li>
        <li>Actualiza tu plan para crecer.</li>
        <li>Capacidad de cómputo básica.</li>
       </ul>
       <h3>Datos vinculados</h3>
       <h4>Solicite datos y tome decisiones</h4>
       <ul>
        <li>Hasta 100 usuarios.</li>
        <li>Hasta 20 campos enlazados.</li>
        <li>Solo por 30 días.</li>
       </ul>
       
       <h2>Servicios configurables a su medida</h2>
       <p>Crea o configura tus plantillas o revisa, edita y utiliza las creadas por nuestros Loggers. Cotiza los servicios específicos de acuerdo con la plantilla que corresponda para Encuestas, Formularios o Contratos de tipo inteligentes.</p>
       
       <h2>Videos demostrativos</h2>
       <a href="https://www.youtube.com/watch?v=rQn_Yopewjg">Aquí puede ver como funcionan nuestras aplicaciones.</a>

       <h2>Crea tu propio negocio</h2>
       <p>Para ello, crea tu cuenta y nos escribes con la solicitud a  <a href="mailto:corp@fyself.com">corp@fyself.com</a>.</p>

       <h2>Empresa Socialmente Responsable</h2>
       <a href="https://blog.fyself.com/dano-ambiental-papel/">Cada año se pierden 15 000 millones árboles</a>
       <p>Movimiento y tendencias <a href="https://blog.fyself.com/es/tramites-sin-papeles/">paperless</a> y <a href="https://blog.fyself.com/embalaje-zero-waste/">zero waste</a></p>
      
       <footer>Fyself España S.L. es una compañía constituida en España con domicilio social en Paseo de la Castellana No. 91-4, Madrid, 28046, con CIF: B01700798 y con empresas distribuidoras FySelf OÜ en Estonia, Fyself LLC en Estados Unidos y Fyself LATAM S.A. Todas las comunicaciones relativas a efectos legales dirigirlas a Fyself España SL o al correo electrónico: <a href="mailto:corp@fyself.com">corp@fyself.com</a>.</footer>   
      </main>
	</body>
</html>
