---
import Banner from "../components/Banner";
const response = await fetch('https://randomuser.me/api/');
const data = await response.json();
const randomUser = data.results[0];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="google-site-verification" content="IzAlUsowUJt-aTAoum0kKLM8nCssOLVW_GfhJRne45g" />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<h2>{randomUser.name.first} {randomUser.name.last}</h2>
		<Banner/>
	</body>
</html>
